<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h3><%= result.ename %></h3>
		<h3><%= result.email %></h3>
		<h3><%= result.mobile %></h3>
		<h3><%= result.gender %></h3>
		<h3><%= result.qualification %></h3>
		<h3><%= result.currentExperience %></h3>
		<h3><%= result.pastExperience %></h3>
		<h3><%= result.dateJoin %></h3>
	</body>
</html>
